<h1>List of bookmarks</h1>
<ul>
<% @bookmarks.each do |bookmark| %>
  <li><a href= '<%= bookmark.url %>' target="_blank"><%= bookmark.title %></a></li>
  <form action="/bookmarks/<%= bookmark.id %>" method="post">
    <input type="hidden" name='_method' value='DELETE' />
    <input type='submit' value='Delete'>
  </form>
  <form action="/bookmarks/<%= bookmark.id %>/edit" method="post">
    <input type="submit" value="Update">
  </form>
<% end %>
</ul>

<form action='/bookmarks' method='post'>
  <label for="url">URL</label>
  <input type='text' name='url'>
  <label for="title">Title</label>
  <input type='text' name='title'>
  <input type='submit' value='Add Bookmark'>
</form>
<%= flash[:notice] %>
